.catalogItem {
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	border: 1px solid transparent;
	border-radius: 50px;
}

.catalogText {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.productCardBtn {
	width: 100%;
	padding: 25px 20px;
	border: 1px solid blue;
	background-color: transparent;
	transition: all 0.3s ease;
	border-radius: 50px;
	cursor: pointer;

	&:hover {
		border: 1px solid orange;
	}
}

.catalogItemImg {
	object-fit: contain;
}
